@import "../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.options {
  background-color: $dark-soil;
  color: whitesmoke;
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  align-items: center;
  flex: 1 0 100px;
  justify-content: center;
}

.options > button {
  border: 2px solid gray;
  background-color: $soil-brown;
  height: fit-content;
  width: 10%;
  white-space: nowrap;
  color: whitesmoke;
  font-size: 60%;
  font-family: "Caveat", cursive;
  padding: 6px;
  text-align: center;
  flex: 1 0 fit-content;
}

.options > button:hover {
  background-color: $brown;
  transform: scale(0.9);
}

.options .disabledButton {
  background-color: gray;
}
.options .disabledButton:hover {
  transform: none;
  background-color: gray;
}

.progress__circle {
  background-image: conic-gradient($dark-grass 80%, $darker-grass 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  flex: 0 0 110px;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: $light-green;

  span {
    margin: 0;
    line-height: 28px;
    text-align: center;
  }

  .points {
    font-size: 20px;
    line-height: 20px;
  }
}
