@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import "./global.scss";

.app {
  background-image: url("./components/images/grassGarden.png");
  font-family: "Caveat", cursive;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.app__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @include mobile {
    flex-direction: column;
  }
}
