$leaf-green: #b1ddce;
$blue: #56b1d0;
$darker-turquoise: #83d4ce;
$dark-green: #0b6e52;
$light-green: #91b89d;
$darker-green: #2d663d;
$brown: #4f4f4f;
$grass: #9ec95d;
$darker-grass: #8dbe55;
$dark-grass: #6ca032;
$soil-brown: #4c2c14;
$dry-soil: #733c0c;
$dark-soil: #2c1c10;
$opacity-green: #91b89d99;
